p, h1, h2,
h3, h4, h5,
h6, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-decor-none:hover {
  text-decoration: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.j-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.j-se {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.j-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-align-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.transition {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.main-btn {
  font-size: 15px;
  background: #1a82ff;
  color: #fff;
  border-radius: 50px;
  padding: 13px 0;
  outline: none;
  border: none; }
  .main-btn:hover:enabled {
    cursor: pointer;
    background: #0265db; }

.text-title {
  font-weight: 700; }

.text-desc {
  color: #798da2;
  margin: 60px 0 40px; }

.info-position-r {
  width: 40%; }

.info-position-l {
  width: 37%; }

.responsive-header-language,
.responsive-header-info__call,
.responsive-example-section,
.responsive-picture-box {
  display: none; }

.modal-try {
  text-align: center;
  padding: 40px 0;
  border-radius: 10px; }
  .modal-try h2 {
    font-size: 24px;
    margin-bottom: 30px; }
  .modal-try .field {
    margin-bottom: 30px; }
    .modal-try .field label {
      position: relative; }
      .modal-try .field label i {
        position: absolute;
        color: #ff9500;
        top: 2px;
        left: 20px; }
      .modal-try .field label input {
        background: #eee;
        padding: 10px 20px 10px 50px;
        border: none;
        outline: none;
        border-radius: 5px;
        width: 40%; }
      .modal-try .field label input::-webkit-outer-spin-button,
      .modal-try .field label input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important; }
  .modal-try .agree-box {
    color: #1a82ff;
    padding-top: 30px;
    border-top: 1px solid #ececec; }
    .modal-try .agree-box .agree-field {
      margin-right: 20px; }
      .modal-try .agree-box .agree-field i {
        font-size: 26px;
        cursor: pointer; }
      .modal-try .agree-box .agree-field input[type="checkbox"] {
        margin-right: 10px; }
    .modal-try .agree-box p a {
      text-decoration: underline; }
  .modal-try .modal-submit {
    margin: 30px 0; }
    .modal-try .modal-submit button {
      width: 50%;
      border-radius: 5px; }
      .modal-try .modal-submit button:disabled {
        opacity: 0.5; }
  .modal-try .forgot-pass a {
    color: #1a82ff; }

.uk-modal-dialog {
  width: 490px; }

@media (max-width: 523px) {
  .modal-try .field {
    position: relative;
    margin-bottom: 0; }
    .modal-try .field label {
      position: static; }
      .modal-try .field label input {
        display: block;
        background: none;
        width: 40%;
        padding-left: 40px; }
      .modal-try .field label i {
        top: 10px;
        left: 15px; }
  .modal-try .agree-box {
    width: 80%;
    margin: 0 auto;
    text-align: left; }
  .modal-try .modal-submit button {
    width: 80%; } }
.responsive-header-language {
  display: none; }

body {
  font-size: 16px;
  color: #282828; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 35px; }

header {
  background: #f3f7ff; }
  header .header-wave {
    padding-top: 100px; }
    header .header-wave .cls-1 {
      fill: #fff; }
  header .header-logo {
    padding-top: 40px; }
    header .header-logo .header-language .header-logo__img {
      width: 30%;
      display: block; }
    header .header-logo .header-language button {
      margin-left: 30px;
      color: #798da2;
      font-size: 17px;
      background: none;
      outline: none;
      border: none;
      cursor: pointer; }
      header .header-logo .header-language button:hover {
        color: #576675; }
    header .header-logo .header-language .header-language-dropdown {
      color: #798da2;
      background: none;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      left: 36px !important; }
      header .header-logo .header-language .header-language-dropdown ul li {
        cursor: pointer;
        margin-bottom: 8px; }
        header .header-logo .header-language .header-language-dropdown ul li:hover {
          color: #576675; }
  header .header-download a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #d4e7ff;
    border-radius: 70px;
    color: #798da2;
    padding: 6px 20px;
    font-size: 14.5px;
    width: 100%; }
    header .header-download a:hover {
      background: #c2dcff; }
    header .header-download a .header-download__icon {
      width: 52px;
      margin-right: 10px; }
    header .header-download a .header-download__desc {
      width: 100%;
      line-height: 1.4; }
      header .header-download a .header-download__desc span {
        display: block; }
  header .header-body {
    margin-top: 35px; }
    header .header-body .header-info {
      margin-top: 15%; }
    header .header-body .header-info__signin {
      width: 70%; }
    header .header-body .header-img {
      margin-top: 40px; }

.picture-section .picture-box__btn {
  width: 45%; }

.find-section {
  margin-top: 130px; }
  .find-section .stock {
    width: 500px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 250px; }
    .find-section .stock .stock-box {
      background: #fff;
      padding: 20px 50px 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      position: absolute;
      width: 100%;
      border-radius: 40px;
      bottom: -50%;
      -webkit-box-shadow: 0px 0px 37px -14px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 37px -14px rgba(0, 0, 0, 0.75); }
      .find-section .stock .stock-box h2 {
        color: #1a82ff; }
      .find-section .stock .stock-box .text-desc {
        margin: 10px 0 50px; }
      .find-section .stock .stock-box .stock-btn {
        width: 50%; }

.communicate-section {
  background: #f3f7ff;
  padding-top: 160px; }
  .communicate-section .communicate-overlay-users {
    padding-top: 70px;
    position: relative; }
    .communicate-section .communicate-overlay-users img {
      position: absolute;
      bottom: 0; }
      .communicate-section .communicate-overlay-users img:first-child {
        right: 0;
        top: 0; }
      .communicate-section .communicate-overlay-users img:nth-child(2) {
        right: 50%;
        top: 435px; }
      .communicate-section .communicate-overlay-users img:nth-child(3) {
        right: 58%;
        top: 580px; }
      .communicate-section .communicate-overlay-users img:nth-child(4) {
        left: 25%;
        top: 90px; }
      .communicate-section .communicate-overlay-users img:nth-child(5) {
        left: 0;
        top: 520px; }
      .communicate-section .communicate-overlay-users img:nth-child(6) {
        left: 6%;
        top: 80px; }
  .communicate-section .communicate-box {
    margin-top: 40px; }
    .communicate-section .communicate-box .communicate-box__info {
      margin-top: 15%; }
    .communicate-section .communicate-box .communicate-box__img {
      margin-bottom: -10px; }

footer .footer-list li {
  margin-right: 30px; }
  footer .footer-list li:last-child {
    margin-right: 0; }
footer p {
  color: #c6c5c5 !important; }

@media (max-width: 899px) {
  .img-position-adaptive {
    width: 40%; }

  .communicate-box .img-position-adaptive {
    width: 35%; }

  .communicate-overlay-users img:nth-child(3), .communicate-overlay-users img:nth-child(5) {
    display: none; } }
@media (max-width: 722px) {
  .main-btn {
    padding: 10px 0; }

  .header-info__signin,
  .picture-box__btn {
    width: 100% !important; } }
@media (max-width: 622px) {
  .find-section .stock {
    width: 80%; }
    .find-section .stock .stock-box {
      bottom: -35%;
      padding: 20px 0 30px; }
      .find-section .stock .stock-box .text-desc {
        margin: 10px 0 20px; } }
@media (max-width: 523px) {
  .wrapper {
    padding: 0 15px; }

  .text-desc {
    color: #798da2;
    margin: 30px 0; }

  header .header-logo .header-language .header-logo__img {
    width: 40%; }
  header .header-logo .header-language .header-language-dropdown {
    left: 17px !important; }
  header .header-logo .header-language .responsive-header-language {
    display: block; }
    header .header-logo .header-language .responsive-header-language button {
      margin-left: 10px; }
  header .header-logo .header-language .header-language__box {
    display: none; }
  header .header-body .header-info {
    width: 100%; }
    header .header-body .header-info .responsive-header-info__call {
      display: block;
      text-align: center;
      width: 100%;
      background: #54c583;
      border-radius: 50px;
      padding: 5px 0;
      color: #fff;
      font-size: 15px;
      margin-bottom: 30px;
      position: relative; }
      header .header-body .header-info .responsive-header-info__call:hover:enabled {
        cursor: pointer;
        background: #3ba366; }
      header .header-body .header-info .responsive-header-info__call i {
        position: absolute;
        left: 3px;
        background: #6ee59f;
        border-radius: 50%;
        padding: 5px 7px;
        top: 3.4px; }
  header .header-body .header-img {
    display: none; }

  .responsive-example-section {
    display: block;
    margin-bottom: 80px; }
    .responsive-example-section .responsive-example-box {
      border-radius: 10px;
      overflow: hidden;
      border: 1px solid #1a82ff; }
      .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item {
        font-size: 14px;
        max-width: 70%;
        margin-bottom: 20px; }
        .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item:first-child {
          margin-top: 80px; }
        .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item:nth-child(3) {
          margin: 0 0 20px auto; }
          .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item:nth-child(3) .responsive-example-box-message {
            background: #1a82ff;
            color: #fff; }
            .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item:nth-child(3) .responsive-example-box-message .responsive-example-box-message__author {
              background: #499bfe; }
          .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item:nth-child(3) .responsive-example-box-date {
            margin-right: 7px; }
        .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item .responsive-example-box-avatar {
          width: 28px; }
        .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item .responsive-example-box-message {
          position: relative;
          background: #fce76c;
          color: #282828;
          border-radius: 7px 7px 7px 0;
          padding: 10px 25px 30px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          overflow: hidden; }
          .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-messages__item .responsive-example-box-message .responsive-example-box-message__author {
            position: absolute;
            font-size: 11px;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 4px 10px;
            color: #fff;
            background: #d9c658; }
      .responsive-example-section .responsive-example-box .responsive-example-box-messages .responsive-example-box-date {
        font-size: 11px;
        color: #798da2;
        margin-left: 7px; }
      .responsive-example-section .responsive-example-box .responsive-example-box-send {
        margin-top: 30px;
        background: #f3f7ff;
        padding: 14px 30px;
        color: #84888c;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .responsive-example-section .responsive-example-box .responsive-example-box-send span, .responsive-example-section .responsive-example-box .responsive-example-box-send i {
          display: block; }
        .responsive-example-section .responsive-example-box .responsive-example-box-send i {
          background: #1a82ff;
          border-radius: 50%;
          padding: 9px 11px 11px;
          color: #fff; }

  .picture-box,
  .find-box,
  .communicate-box,
  .footer-list,
  .footer-box {
    display: block; }

  .responsive-picture-box {
    display: block !important;
    margin-bottom: 60px; }

  .picture-box__info {
    display: none; }

  .picture-box__img,
  .picture-box__info,
  .find-box__info,
  .find-box__img,
  .communicate-box__info,
  .communicate-box__img {
    width: 100% !important; }

  .communicate-overlay-users img:nth-child(4), .communicate-overlay-users img:nth-child(5), .communicate-overlay-users img:nth-child(6) {
    display: none; }
  .communicate-overlay-users img:nth-child(2) {
    right: 60% !important;
    top: 260px !important; }
  .communicate-overlay-users img:nth-child(3) {
    display: block;
    right: 25% !important;
    top: 345px !important; }

  .communicate-box__info {
    margin-bottom: 200px; }

  .footer-list li {
    margin-bottom: 15px; } }

/*# sourceMappingURL=style.css.map */
